<head>
    <title>{{ function('wp_title') }}</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <script type="text/javascript" src="{{ theme.link }}/dist/js/player.min.js" async="true"></script>
    <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=colhbuceqxmcjhcorwybxa" async="true"></script>
    {{ function('wp_head') }}
</head>
