<script type="text/javascript">
    $ = jQuery;

    // TVTY javascript tag loader
    (function(gwin, gdom, id, gobj) {
        if ((typeof gwin['TVTYObj'] !== 'undefined') || (typeof gwin['ObjHmx'] !== 'undefined')) {
            return;
        }
        gwin['TVTYObj'] = gobj;
        gwin[gobj] = gwin[gobj] || function(){(gwin[gobj].cmd = gwin[gobj].cmd || []).push(arguments)};
        var jsasync = gdom.createElement('script');
        jsasync.async = 1;
        jsasync.src = 'https://u360.d-bi.fr/hmx' + id + '.js';
        var jsloc = gdom.getElementsByTagName('script')[0];
        jsloc.parentNode.insertBefore(jsasync, jsloc);
    })(window, document, '000000000618', 'tvty');
    tvty('send');

    $('#cta-rappel').click(eventRappelCta);

    //CALLBACKS
    //DEVIS
    function eventDevisAuto(){
        tvty('set', 'step', 'devis_auto_ok');
        tvty('send');
    }
    function eventDevis2Roues(){
        tvty('set', 'step', 'devis_2_roues_ok');
        tvty('send');
    }
    function eventDevisHabitation(){
        tvty('set', 'step', 'devis_habitation_ok');
        tvty('send');
    }
    function eventDevisSante(){
        tvty('set', 'step', 'devis_sante_ok');
        tvty('send');
    }
    function eventDevisVTCTaxis(){
        tvty('set', 'step', 'devis_vtc_taxis_ok');
        tvty('send');
    }
    function eventDevisAssurancePro(){
        tvty('set', 'step', 'devis_assurance_pro_ok');
        tvty('send');
    }

    function eventRappelCta(){
        tvty('set', 'step', 'clic_rappel_ok');
        tvty('send');
    }
    function eventRappelForm(){
        tvty('set', 'step', 'formulaire_rappel_ok');
        tvty('send');
    }
</script>
{{ function('wp_footer') }}
