<div class="footer--bottom">
    <div class="grid-container">
        <div class="footer--bottom__container">
            {% for link in options.footer_links %}
                <a href="{{ link.link.url }}">{{ link.link.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
