<div class="footer--main">
    <div class="grid-container">
        {{ footer_menu }}
        <div class="footer--main__rs">
            <span>Nos réseaux</span>
            <a href="https://www.youtube.com/channel/UCh_ekGs8v0GDzemhSqT7mpw/featured" target="_blank" rel="noreferrer">
                <svg width="36" height="25" viewBox="0 0 36 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.8126 3.91165C34.4037 2.37194 33.1989 1.15931 31.6691 0.747786C28.8964 0 17.7778 0 17.7778 0C17.7778 0 6.65931 0 3.88646 0.747786C2.35671 1.15937 1.15189 2.37194 0.742969 3.91165C0 6.70247 0 12.5253 0 12.5253C0 12.5253 0 18.348 0.742969 21.1389C1.15189 22.6786 2.35671 23.8407 3.88646 24.2522C6.65931 25 17.7778 25 17.7778 25C17.7778 25 28.8963 25 31.6691 24.2522C33.1989 23.8407 34.4037 22.6786 34.8126 21.1389C35.5556 18.348 35.5556 12.5253 35.5556 12.5253C35.5556 12.5253 35.5556 6.70247 34.8126 3.91165ZM14.1414 17.8119V7.23861L23.4343 12.5254L14.1414 17.8119Z" fill="#FF5C00"/>
                </svg>
            </a>
            <a href="https://www.facebook.com/EASTASSUR" target="_blank" rel="noreferrer">
                <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99447 23V12.5094H12.8258L13.4006 8.4198H8.99447V5.8092C8.99447 4.62553 9.35079 3.81888 11.2004 3.81888L13.5557 3.81799V0.160114C13.1484 0.111487 11.7502 0 10.123 0C6.72492 0 4.39859 1.90551 4.39859 5.40417V8.4198H0.555664V12.5094H4.39859V23H8.99447Z" fill="#FF5C00"/>
                </svg>
            </a>
        </div>
        <h2 class="slogan h3 text-primary-text-center">{{ options.slogan }}</h2>
    </div>
</div>
