<div class="footer--contact">
    <div class="footer--contact__content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-bottom large-align-justify large-flex-dir-row-reverse">
                <div class="cell large-shrink">
                    {{ function('wp_get_attachment_image', options.footer_contact.image, "full") }}
                </div>
                <div class="cell large-auto">
                    <h2 class="text-primary footer--contact__title">{{ options.footer_contact.title }}</h2>
                    <a href="tel: {{ options.phone }}" class="footer--contact__text h3 text-white mb-0">{{ options.footer_contact.text }}</a>
                </div>
            </div>
        </div>
        <div class="bg_shape">{{ svg('footer-shape-1')}}</div>
        <div class="bg_shape">{{ svg('footer-shape-2')}}</div>
    </div>
</div>
