<div class="fixed-nav">
    <div class="grid-container">
        <div class="fixed-nav__container">
            <nav class="fixed-nav__menu">
                {% for page in options.fixed_nav_menu %}
                    {% set page_title = fn('get_the_title', page.page) %}
                    <a href="{{ fn('get_the_permalink', page.page ) }}" class="fixed-nav__menu__item">
                        <span class="svg">{{ picto(page.picto[0].service_pictos)}}</span>
                        {{ page_title }}
                    </a>
                {% endfor %}
            </nav>
            <button type="button" class="button secondary square fixed with-picto js--show-nav"><span class="svg">{{ svg('devis') }}</span> {{ options.quotation_label }}</button>
            <button id="cta-rappel" type="button" class="button secondary square fixed with-picto js--modal"><span class="svg">{{ svg('phone') }}</span> {{ options.be_called_label }}</button>
        </div>
    </div>
</div>

