html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.home, .page-template-service-template {
    main {
        @include breakpoint(medium down) {
            overflow: hidden;
        }
    }
}

.page-template-default:not(.home) {
    background-color: $white;
}


.full-width {
    margin-left: map-get($grid-container-padding, small) / -2;
    margin-right: map-get($grid-container-padding, small) / -2;

    @include breakpoint(medium) {
        margin-left: map-get($grid-container-padding, medium) / -2;
        margin-right: map-get($grid-container-padding, medium) / -2;
    }

    @include breakpoint(large) {
        margin-left: map-get($grid-container-padding, large) / -2;
        margin-right: map-get($grid-container-padding, large) / -2;
    }

    @media screen and (min-width: $global-width) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}


.text-white {
    color: $white;
}
.text-primary {
    color: $primary-color;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-grid {
    margin-bottom: 28px;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 3rem;
    }
}
.mt-4 {
    margin-top: 3rem;
    @include breakpoint(medium) {
        margin-top: 4rem;
    }
}
.mt-3 {
    margin-top: 2rem;
    @include breakpoint(medium) {
        margin-top: 3rem;
    }
}
.mb-4 {
    margin-bottom: 2.5rem;
    @include breakpoint(medium) {
        margin-bottom: 4rem;
    }
}
.mb-5 {
    margin-bottom: 3rem;
    @include breakpoint(medium) {
        margin-bottom: 5rem;
    }
}

.unbreakable {
    white-space: nowrap;
}

.overflow-hidden {
    @include breakpoint(medium down) {
        overflow: hidden;
    }
}

.fw-700 {
    font-weight: 700;
}

// fix for start anchor position on generic page
#to-start {
    transform: translateY(-15vw);
    @media screen and (min-width: 1920px) {
        transform: translateY(-11vw);
    }
}


// fix tarteaucitron


#tarteaucitronAlertBig {
    width: 100% !important;
}

.bg-white {
    background-color: $white;
}

.mh-50 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include breakpoint(large) {
        min-height: 60vh;
    }
}
