@import '~foundation-sites/scss/util/util';

$global-width: rem-calc(1200);

/** Colors */
$foundation-palette: (
  primary: #FF5C00,
  secondary: #4375F4,
  third: #FFB23F,
  success: #00B819,
  warning: #EE6E10,
  alert: #F11E1E,
);

$secondary-color: map-get($foundation-palette, secondary);
$third-color: map-get($foundation-palette, third);

@include add-foundation-colors;



$white: #fff;
$black: #000;
$light-gray: #ECECEC;
$main-gray: #9A9A9A;
$menu-gray: #737373;
$dark-gray: #3C3C3C;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Titillium Web', sans-serif;

$body-font-family: $primary-font;
$body-font-color: $dark-gray;
$header-font-family: $body-font-family;

$global-lineheight: 1.22;
@include breakpoint(medium) {
    $global-font-size: 1.125rem;
}
$global-radius: 10px;
$global-weight-bold: 700;
$header-font-weight: $global-weight-bold;
$header-color: $menu-gray;
$header-styles: (
  small: (
    "h1": ("fs": 30, "lh": 30, "mb": 20),
    "h2": ("fs": 20, "lh": 24, "mb": 10),
    "h3": ("fs": 20, "lh": 24, "mb": 10),
    "h4": ("fs": 18, "lh": 26, "mb": 12),
    "h5": ("fs": 18, "lh": 24, "mb": 8),
    "h6": ("fs": 16, "lh": 24, "mb": 8),
  ),
  medium: (
    "h1": ("fs": 50, "lh": 50, "mb": 38),
    "h2": ("fs": 40, "lh": 48, "mb": 18),
    "h3": ("fs": 30, "lh": 36, "mb": 27),
    "h4": ("fs": 20, "lh": 30, "mb": 16),
    "h5": ("fs": 18, "lh": 21, "mb": 10),
    "h6": ("fs": 16, "lh": 21, "mb": 10),
  ),
);

$paragraph-lineheight: inherit;
$anchor-color: $menu-gray;

$button-color: $white;
$button-color-alt: $white;
$button-font-family: $secondary-font;
$button-font-weight: 600;
$button-padding: 17px 18px 19px 18px;
@include breakpoint(medium) {
    $button-padding: 21px 20px 23px 20px;
}

$button-radius: 10px;
$button-background: transparent;
$button-background-hover: $black;
$button-palette: map-merge($foundation-palette, ("white": $white));
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.8125rem,
  large: 1.25rem,
);

$form-label-color: $menu-gray;
$form-label-font-size: rem-calc(19);
$form-label-font-weight: $global-weight-bold;
$input-radius: 6px;
$select-radius: $input-radius;
$input-border: 0;
$input-border-focus: 0;
$input-color: $menu-gray;
$input-shadow: none;
$input-shadow-focus: 0 0 16px rgba($black, 0.1);
$input-padding: 0.625rem 0.875rem 0.5rem;
@include breakpoint(medium) {
    $input-padding: 1.5rem;
}

$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
  small: 20px,
  medium: 28px,
  large: 28px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

// Vendor

// ~/hamburgers
$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 24px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 4px !default;
$hamburger-layer-color         : $dark-gray !default;
$hamburger-layer-border-radius : 2px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// foundation table
$table-head-background: $white;
$table-border: none;
