<a href="{{ item.link }}"
 class="card--colored card--colored__{{ key }}">
    <div class="card--colored__title text-white text-centered">
        Assurance
        <strong>{{ item.text }}</strong>
    </div>
    <div class="card--colored__text js--reduced text-white" data-key={{ key }}>{{ item.description }}</div>
    <div class="see-more js--see-more hide-for-large" data-key={{ key }}>+ En savoir plus</div>
</a>
