<a href="{{ item.link }}" class="card--picto-text shadow">
    {{ picto(item.picto[0].service_pictos)}}
    <div class="card--picto-text__text">
        Assurance
        <br>
        <strong>{{ item.text }}</strong>
    </div>
    <div class="card--picto-text__description show-for-medium">
        {{ item.description }}
    </div>
</a>
