<div class="card--picto-reassurance">
    {{ picto(item.picto[0].general_picto)}}
    <div class="h3 card--picto-reassurance__title">
        {{ item.title }}
    </div>
    <div class="card--picto-reassurance__text show-for-large">
        {{ item.text }}
    </div>
</div>
