<a href="{{ item.link }}" class="card--picto">
    {{ picto(item.picto[0].service_pictos)}}
    <div class="card--picto__text">
        Assurance
        <br>
        <strong>{{ item.text }}</strong>
    </div>
</a>
