<div class="card--picto-text-module">
    <div class="card--picto-text-module__picto">
    {{ picto(item.picto[0].general_picto)}}
    </div>
    <strong class="card--picto-text-module__title">
        <strong>{{ item.title }}</strong>
    </strong>
    <div class="card--picto-text-module__description show-for-large">
        {{ item.text }}
    </div>
</div>
