<div class="card--table-head">
    {% if item.is_picto %}
    {{ picto(item.picto[0].general_picto)}}
    {% endif %}
    <div class="text {{ item.is_picto ? '' : 'text--no-picto' }}">
        <strong>{{ item.title }}</strong>
        {% if item.text %}<p class="show-for-large">{{ item.text }}</p>{% endif %}
    </div>
</div>
