/* Effet au scroll depuis le bas */
.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-loaded [class*="reveal"]{
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

/* On ajoute du délai */
.reveal-loaded .reveal-2 {
    transition-delay: .1s;
}

.reveal-loaded .reveal-3 {
    transition-delay: .2s;
}

.reveal-loaded .reveal-4 {
    transition-delay: .3s;
}

.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    @include breakpoint(large) {
        bottom: -100px;
    }
	display: flex;
	justify-content: center;
    align-items: center;

    margin: 0;
	padding: 1rem 0;

	list-style-type: none;

    li {
        margin: 0 0.5rem;
        width: auto !important;
        height: auto !important;

        button {
            display: block;
            width: 6px;
            height: 6px;
            padding: 0;

            border: none;
            border-radius: 100%;
            background-color: $white !important;

            text-indent: -9999px;

            &:before {
                width: 6px !important;
                height: 6px !important;
            }
        }
    }

    li.slick-active button {
        background-color: $primary-color !important;
        width: 12px;
        height: 12px;
        &:before {
            width: 12px !important;
            height: 12px !important;
        }
    }

}
