.button {
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.09);
    min-width: 227px;
    font-size: 19px;
    @include breakpoint(medium) {
        min-width: 260px;
        font-size: 22px;
    }

    &:focus {
        outline: none;
    }

    &.fixed {
        min-width: 150px;
        @include breakpoint(large) {
            min-width: 205px;
            min-height: 44px;
            span.svg {
                margin-right: 12px;
            }
        }
        @media screen and (min-width: $global-width) {
            min-width: 214px;
        }
        box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.09);
        border-radius: 3px;

        @include breakpoint(medium down) {
            min-height: 54px;
            background-color: $white;
            color: $secondary-color;
            font-size: 1rem;
            padding: 8px;
            padding: 8px;
            border-radius: 150px;
            span.svg {
                width: 39px;
                height: 39px;
                background-color: $secondary-color;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 6px;
            }

        }

    }

    &.with-picto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    &.dark-gray {
        background-color: $dark-gray;
        &:hover {
            opacity: 0.9;
        }
    }
}
