.card {

    &--form {
        position: relative;
        max-width: 325px;
        padding: 20px 40px;
        background-color: $white;
        box-shadow: 0px 0px 115px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(medium) {
            padding: 30px 48px;
            max-width: 600px;
        }

        label {
            display: none;
        }

        input {
            background-color: $light-gray;
            height: 42px;
            &::placeholder {
                font-size: 1.25rem;
                font-weight: 500;
                color: $menu-gray;
            }
            @include breakpoint(medium) {
                height: 72px;
                &::placeholder {
                    font-size: 1.25rem;
                }
            }

            &[type=phone] {
                width: 100% !important;
                margin-bottom: 0rem !important;
                padding: 0.625rem 0.875rem 0.5rem !important;
                border: 0 !important;
                border-radius: 6px !important;
            }
        }

        .caldera-forms-consent-field {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 30px;
            input[type=checkbox] {
                border: 3px solid $light-gray;
                box-sizing: border-box;
                border-radius: 7px;
                margin-right: 16px;
                transform: scale(1.6) translateX(3px);
                height: 28px;
                @include breakpoint(large) {
                    width: 30px;
                    margin-right: 24px;
                }
            }
            span {
                display: none !important;
            }

            label {
                display: flex;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                @include breakpoint(medium) {
                    font-size: 17px;
                    line-height: 21px;
                }
                text-align: justify;
                p {
                    display: inline;
                }
            }
        }

        .close {
            position: absolute;
            z-index: 1;
            top: 27px;
            @include breakpoint(medium) {
                top: 32px;
            }
            right: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 17px;
                height: 17px;
                position: relative;
            }
        }

        .form__title {
            @include breakpoint(small down) {
                margin-bottom: 1rem;
            }
            @include breakpoint(large) {
                font-size: 2.25rem;
            }
            @media screen and (min-width: $global-width) {
                font-size: 2.5rem;
            }
        }

        .button {
            margin-bottom: 0;
            @include breakpoint(small down) {
                transform: translateY(50px);
                margin-top: calc(-50px);
                height: 60px;
            }
        }

    }

    &--picto {
        width: 155px;
        height: 108px;
        max-width: 40vw;
        margin: 8px;
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 18px 20px;
        text-align: center;
        @media screen and (min-width: 900px) {
            width: 164px;
            max-width: 22%;
            border-top-left-radius: 82px;
            border-top-right-radius: 82px;
            height: 295px;
        }


        @include breakpoint(large) {
            transition: transform 0.5s;
            &:hover {
                transform: translateY(-20px);
            }
        }

        &__text {
            font-weight: 500;
            font-size: 1.125rem;
            @media screen and (min-width: 900px) {
                font-size: 1.25rem;
            }

            color: $dark-gray;
            strong  {
                font-weight: 700;
            }
        }
        svg {
            width: 35px;
            height: 35px;
            margin-bottom: 10px;
            @media screen and (min-width: 900px) {
                width: 55px;
                height: 45px;
                margin-bottom: 10px;
                font-size: 1.25rem;
            }
            @include breakpoint(large) {
                width: 80px;
                height: 70px;
            }
        }
    }
    &--picto-reassurance {
        width: 155px;
        height: 155px;
        @include breakpoint(medium down) {
            margin: 10px;
            background: rgba($primary-color, 0.05);
        }
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 13px 10px 5px;
        text-align: center;
        @include breakpoint(large) {
            width: 225px;
            min-height: 295px;
            padding: 10px 20px;
        }

        @media screen and (min-width: 1200px) {
            width: 19vw;
            max-width: 315px;
            height: 100%;
        }

        &__title {
            font-weight: 500;
            @include breakpoint(medium down) {
                font-size: 1.25rem;
            }
        }

        &__text {

            @include breakpoint(large) {
                font-size: 1.125rem;
            }
            color: $dark-gray;

        }
        svg {
            width: 60px;
            min-height: 65px;
            margin-bottom: 10px;
            @include breakpoint(large) {
                width: 90px;
                min-height: 110px;
                height: 110px;
            }
        }
    }
    &--picto-mod {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        text-align: center;
        @include breakpoint(large) {
            justify-content: center;
            width: 100%;
            min-height: 135px;
            padding: 10px;
        }

        &__title {
            color: $black;
            font-family: $secondary-font;
            font-size: 1.125rem;
            font-weight: 600;
            @include breakpoint(medium) {
                font-weight: 700;
            }
            @media screen and (min-width: 1200px) {
                font-size: 1.375rem;
            }
        }


        svg {
            width: 60px;
            height: 56px;
            margin-bottom: 8px;
            @include breakpoint(large) {
                width: 80px;
                height: 65px;
            }
        }
    }

    &--colored {
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 236px;

        @include breakpoint(medium) {
            padding: 20px;
        }
        @include breakpoint(large) {
            padding: 30px 60px 50px;
            min-height: 360px;
            height: 100%;
            transition: opacity 0.4s;

            &:hover {
                opacity: 0.7;
            }
        }


        &__title {
            font-family: $secondary-font;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;


            strong  {
                font-size: 1.875rem;
                font-weight: 700;
                display: block;
            }
            @include breakpoint(large) {
                font-size: 2.5rem;
                strong  {
                    font-size: 4.375rem;
                }
            }
        }

        &__text {
            overflow: hidden;
            transition: max-height 0.6s;
            font-weight: 500;

            @include breakpoint(medium down) {
                max-height: 58px;
                text-align: center;
                &.active {
                    max-height: 500px;
                }
            }
            @include breakpoint(medium) {
                font-size: 1.125rem;
            }
        }

        &__1 {
            background: $primary-color;
            @include breakpoint(medium) {
                background: linear-gradient(130.37deg, rgba(255, 255, 255, 0.21) 29.07%, rgba(255, 255, 255, 0) 83.51%), #FF5C00;
                background-blend-mode: multiply;
                opacity: 0.8;
            }
        }
        &__2 {
            background: $third-color;
            @include breakpoint(medium) {
                background: linear-gradient(130.37deg, rgba(255, 255, 255, 0.21) 29.07%, rgba(255, 255, 255, 0) 83.51%), #FF9F3F;
                background-blend-mode: multiply;
                opacity: 0.8;
            }
        }

        .see-more {
            cursor: pointer;
            text-align: center;
            color: $white;
            margin-top: 10px;
            text-decoration: underline;
        }
    }

    &--picto-text {
        min-height: 158px;
        width: 100%;
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 10px 20px;
        text-align: center;

        @include breakpoint(medium) {
            padding: 32px 25px 50px;
            min-height: 200px;
            height: 100%;

        }
        @include breakpoint(large) {
            min-height: 300px;
            transition: transform 0.5s;
            &:hover {
                transform: translateY(-8px);
            }
        }

        &__text {
            font-weight: 600;
            @media screen and (min-width: 360px) {
                font-size: 1.25rem;
            }

            font-family: $secondary-font;
            @include breakpoint(large) {
                font-size: 1.375rem;
                margin-bottom: 1.125rem;
            }
            color: $dark-gray;
        }
        &__description {
            font-weight: 500;
            font-size: 1.125rem;
            color: $dark-gray;
            &:hover {
                color: $primary-color;
            }
        }
        svg {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            @include breakpoint(medium) {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                font-size: 1.25rem;
            }
        }
    }

    &--table-head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        min-height: 106px;
        @media screen and (max-width: 420px) {
            max-width: 90px;
            min-width: 90px;
            margin: 0 auto;
        }
        @media screen and (max-width: 375px) {
            max-width: 80px;
            min-width: 80px;
        }

        @include breakpoint(large) {
            justify-content: center;
            svg {
                min-height: 50px;
                margin-bottom: 32px;
            }
        }
        .text {
            display: flex;
            margin-top: 10px;
            @include breakpoint(large) {
                min-height: 108px;

                &--no-picto {
                    min-height: 0px;
                }
                margin-top: 0;
                p, strong {
                    font-size: 1.125rem;
                }

                p {
                    margin-top: 65px;
                }
            }
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 100%;

            strong {
                color: $primary-color;
                @include breakpoint(medium) {
                    max-width: 210px;
                }
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    &--picto-text-module {

        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        &__title {
            font-weight: 600;
            font-size: 1.375rem;
            color: $dark-gray;
            font-family: $secondary-font;
        }
        &__description {
            font-weight: 500;
            font-size: 1.125rem;
            color: $dark-gray;
        }

        @include breakpoint(large) {
            min-height: 400px;
            height: 100%;
            padding: 35px;
            transition: transform 0.5s;
            box-shadow: 0px 0px 13px 6px rgb(0 0 0 / 8%);
            background-color: $white;

            &__picto {
                margin-bottom: 28px;
            }

            &__title {
                margin-bottom: 50px;
            }
        }

        @include breakpoint(medium down) {
            &__picto {
                width: 120px;
                height: 120px;
                background-color: $white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 34px;
            }
        }



    }

    &--IEBrowser {
        position: fixed;
        z-index: 6;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
        > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 50px;
            border-radius: 15px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 500px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            b {
                color: $primary-color;
            }
            p, b {
                display: block;
                max-width: 100%;
            }

            p {
                font-size: 1.25rem;
            }

            .button {
                margin-bottom: 0;
            }
        }
    }
}
