.form {
    &__title {
        font-weight: 500;
    }

}
form.caldera_forms_form {

    label {
        display: none;
    }

    input {
        background-color: $light-gray;
        height: 42px;
        &::placeholder {
            font-size: 1.25rem;
            font-weight: 500;
            color: $menu-gray;
        }
        @include breakpoint(medium) {
            height: 72px;
            &::placeholder {
                font-size: 1.25rem;
            }
        }

        &[type=phone] {
            width: 100% !important;
            margin-bottom: 0rem !important;
            padding: 0.625rem 0.875rem 0.5rem !important;
            border: 0 !important;
            border-radius: 6px !important;
        }
    }


    textarea {
        background-color: $light-gray;
        min-height: 120px;
        &::placeholder {
            font-size: 1.25rem;
            font-weight: 500;
            color: $menu-gray;
        }
        @include breakpoint(medium) {
            &::placeholder {
                font-size: 1.25rem;
            }
        }
    }

    .caldera-forms-consent-field {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 30px;
        input[type=checkbox] {
            border-radius: 7px;
            transform: none;
            margin-top: 3px;
            margin-right: 5px;
            box-sizing: border-box;
            border: 2px solid $menu-gray;
            background: $menu-gray;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-shadow: 0 0 0 16px #fff inset;
            min-width: 25px;
            height: 25px;
            transition: all 0.3s ease;
            &:checked{
                box-shadow: 0 0 0 4px #FFF inset;
            }
            @include breakpoint(small down) {
                border-radius: 5px;
                margin-right: 3px;
                border: 2px solid #737373;
                min-width: 20px;
                height: 20px;
            }
        }
        span {
            display: none !important;
        }

        label {
            display: flex;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            @include breakpoint(medium) {
                font-size: 17px;
                line-height: 21px;
            }
            text-align: justify;
            p {
                display: inline;
            }
        }
    }

    .small-box {
        input[type=checkbox]{
            width: 15px !important;
        }
    }

    .button {
        margin-bottom: 0;
        @include breakpoint(small down) {
            height: 60px;
        }
    }
}
