.mod {

    margin-bottom: 50px;
    @include breakpoint(medium) {
        margin-bottom: 100px;
    }
    @include breakpoint(large) {
        margin-bottom: 150px;
    }

    &--picto-text {
        padding-top: 160px;
        padding-bottom: 160px;
        position: relative;
        z-index: 0;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../images/banner_2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include breakpoint(large) {
            padding-top: 150px;
            padding-bottom: 150px;
            min-height: 29vw;
        }
        @media screen and (min-width: 1920px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__container {

            width: 100%;
            max-width: 90vw;
            margin-left: auto;
            margin-right: auto;
            @media screen and (min-width: 1300px) {
                max-width: 1230px;
                margin-top: 3%;
            }
            @media screen and (min-width: 1550px) {

                .button {
                    bottom: 11% !important;
                }
            }
            @media screen and (min-width: 1920px) {

                .button {
                    bottom: 12.3% !important;
                }
            }

            @include breakpoint(medium only) {
                max-width: 400px;
            }

            @include breakpoint(large) {

                .cell:not(:last-of-type) {
                    position: relative;
                    &:after {
                        content: '';
                        height: 75%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 2px;
                        background-color: $primary-color;
                    }
                }
            }
        }

        .button {
            min-width: 280px;
            margin-bottom: 0;
            max-width: fit-content;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            bottom: 45px;
        }
    }

    &--cta-text-image {
        padding: 0 !important;
        min-height: auto !important;
        margin-bottom: 100px !important;
        margin-top: 90px;

        .button {
            position: absolute;
            bottom: 0;
            transform: translateY(50%) !important;
            left: 0;
            right: 0;
            display: block;

            @include breakpoint(large) {
                width: fit-content;
                margin-right: auto;
                margin-left: 10px;
                margin-bottom: 0;

            }

        }

        &.image_left {
            .button {

                @include breakpoint(large) {
                    margin-right: 10px;
                    margin-left: auto;

                }

            }

        }
        @include breakpoint(medium only) {
            margin-top: 160px;
            .front--cta-text-image__content {
                max-width: 600px;
            }
        }
        @include breakpoint(medium down) {
            .front--cta-text-image__content {
                padding-top: 190px;
                padding-bottom: 60px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -83px;
                    right: -60px;
                    z-index: -1;
                    width: 250px;
                    height: 250px;
                    background: url('../images/ellipse.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }


            .front--cta-text-image__image {
                z-index: 0;
                right: 50%;
                transform: translateX(50%) translateY(-50%);
                &:before {
                    display: none;
                }
            }
        }

        @include breakpoint(small down) {
            .front--cta-text-image__content {
                padding-top: 116px;
            }
        }

        @include breakpoint(large) {
            margin-bottom: 160px !important;
            margin-top: 0;

            &.image_left {
                flex-direction: row-reverse;
                .front--cta-text-image__content {
                    margin-left: auto;
                    margin-right: 0;
                    padding: 34px 6px 68px 120px;
                    border-radius: 0px 0px 0px 50px;
                }

                .front--cta-text-image__image {
                    right: auto;
                    left: 63px;

                    &:before {
                        left: auto;
                        right: -47%;
                    }
                }
            }

            .front--cta-text-image__image {
                right: 63px ;
                &:before {
                    bottom: -15px;
                    left: -4vw;
                }
            }
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 230px !important;

            .mod--cta-text-image__image {
                z-index: 0;
            }
        }
        img {
            height: 170px;
            width: 170px;
            border-radius: 50%;
            @include breakpoint(medium) {
                height: 230px;
                width: 230px;
            }
            @include breakpoint(large) {
                height: 450px;
                width: 450px;
            }
        }


    }

    &--hero {
        position: relative;
        margin-bottom: 80px;
        min-height: 250px;
        background-size: cover;
        background-repeat: no-repeat;

        &:after {
            content: '';
            background-image: url('../images/white-mask-curve.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
            position: absolute;
            height: 100%;
            left: 0;
            right: 0;
            bottom: -16px;

            @include breakpoint(large) {
                background-size: cover;
                bottom: -37px;
            }
        }

        @include breakpoint(medium down) {

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: #9CD7EE;
                opacity: 0.4;
            }
        }

        @include breakpoint(medium) {
            margin-bottom: 40px;
        }

        @include breakpoint(large) {
            margin-bottom: 25px;
            &__after {
                position: relative;
                &:after {
                    content: '';
                    background-image: url('../images/multiple-circles.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    z-index: 1;
                    height: 100vw;
                    width: 15vw;
                    max-width: 330px;
                    right: 0;
                    top: 0;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            padding-top: 35px;

            @include breakpoint(medium) {
                padding-bottom: 80px;
            }
            @include breakpoint(large) {
                padding-bottom: 130px;
            }


            .button {
                margin-bottom: 0;
                position: relative;
                z-index: 1;
                @include breakpoint(medium down) {
                    transform: translateY(50%);
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &__title {
            color: $dark-gray;
            margin-bottom: 40px;
        }
        &__subtitle {
            color: $dark-gray;
            margin-bottom: 25px;
            font-weight: 500;
            @include breakpoint(medium) {
                margin-bottom: 50px;
            }
            @include breakpoint(large) {
                margin-bottom: 100px;
            }
        }


    }

    &--text-image {
        position: relative;
        z-index: 1;
        max-width: 325px;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(medium) {
            max-width: 500px;
        }
        @include breakpoint(large) {
            max-width: 100%;
        }
        @include breakpoint(medium down) {

            .see-more {
                cursor: pointer;
                text-align: right;
                text-decoration: underline;
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
        img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 14px;
            @include breakpoint(medium) {
                width: 250px;
                height: 250px;
                margin-bottom: 24px;
            }
            @include breakpoint(large) {
                width: 439px;
                height: 439px;
                margin-bottom: 0;
                position: relative;
                margin-left: 0;
            }
        }

        &__title {
            font-weight: bold;
            color: $dark-gray;
            margin-bottom: 20px;
            @include breakpoint(medium) {
                margin-bottom: 40px;
            }
            @include breakpoint(large) {
                text-align: right;
            }
        }

        &__text {
            overflow: hidden;
            transition: max-height 0.6s;
            color: $dark-gray;
            font-weight: 500;
            text-align: justify;
            font-size: 1.125rem;
            @include breakpoint(medium down) {
                max-height: 166px;
                margin-bottom: 20px;
                font-size: 1rem;
                &.active {
                    max-height: 800px;
                }


            }
            @include breakpoint(small down) {
                max-height: 300px;
                &.active {
                    max-height: 1200px;
                }
            }
        }

        &.is_left {

            @include breakpoint(medium down) {
                background: $white;
                box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.09);
                border-radius: 10px;
                padding: 24px 36px 30px;
                &:after {
                    content: '';
                    position: absolute;
                    width: 120vw;
                    height: 120vw;
                    max-width: 600px;
                    max-height: 600px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    right: -15%;
                    transform: translate(-50%, -50%);
                    background-color: rgba($primary-color, 0.4);
                    mix-blend-mode: lighten;
                    z-index: -1;
                }

            }
            @include breakpoint(small down) {
                &:before {
                    max-width: 420px;
                    max-height: 420px;
                }
            }
            .mod--text-image__image {
                @include breakpoint(large) {
                    width: 439px;
                    height: 439px;
                    position: relative;
                    &:before {
                        position: absolute;
                        bottom: -5%;
                        right: -7%;
                        content: '';
                        z-index: -1;
                        width: 387px;
                        height: 387px;
                        max-width: 88%;
                        max-height: 88%;
                        background: url('../images/ellipse.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }

        &.is_right {
            margin-bottom: 0;
            img {

                @include breakpoint(medium down) {
                    width: 300px;
                    height: 300px;
                    margin-bottom: 120px;
                    margin-top: 20px;
                }
                @include breakpoint(small down) {
                    margin-bottom: 60px;
                    width: 169px;
                    height: 169px;
                }
            }
            &:first-of-type {


                &:before {
                    content: '';
                    position: absolute;

                    @include breakpoint(medium down) {
                        background-image: url('../images/half-circle-right-mobile.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        right: 0;
                        bottom: -45%;
                        height: 58%;
                        width: 30%;
                    }
                }

                &:after {
                    @include breakpoint(large) {
                        content: '';
                        position: absolute;
                        background-image: url('../images/multiple-circles-left.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: top;
                        left: 0;
                        right: 0;
                        height: 100vw;
                        z-index: -1;
                        top: -5%;
                    }


                    @media screen and (min-width: 1550px) {
                        height: 1552px;
                        top: -10%;
                    }
                }
            }
            @include breakpoint(large) {

                padding-top: 190px;
                padding-bottom: 250px;

                .mod--text-image__title {
                    text-align: left;
                }

                .mod--text-image__image img {
                    margin-right: 0;
                    margin-left: auto;
                }


            }
        }
    }

    &--pictos__bg-image {
        margin-bottom: 50px;
        position: relative;
        @include breakpoint(large) {
            margin-bottom: 150px;
        }

        &--translateY {
            transform: translateY(-150px);
            margin-bottom: -100px;
            @include breakpoint(medium) {
                margin-bottom: -150px;
                transform: translateY(-200px);
            }
            @include breakpoint(large) {
                margin-bottom: -50px;
            }
        }



        &__image {
            max-width: 220px;
            @include breakpoint(medium) {
                max-width: 370px;
            }
        }

        &__title {
            color: $dark-gray;
            margin-top: 45px;

            @include breakpoint(large) {
                margin-bottom: 100px;
                margin-top: -60px;
            }
        }

        &__banner {
            position: relative;

            overflow-x: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;

            @include breakpoint(large) {
                min-height: 42vw;
            }

            @media screen and (min-width: 1240px) {
                min-height: 35vw;
            }
            @media screen and (min-width: 1420px) {
                min-height: 31vw;
            }
            @media screen and (min-width: 1550px) {
                min-height: 27vw;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                background-image: url('../images/banner-simple.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -1;
            }
        }

    }

    &--accordion {

        &__item {
            margin-bottom: 20px;
            @include breakpoint(large) {
                margin-bottom: 14px;
            }
        }

        &__title {
            display: flex;
            color: $white;
            transition: opacity 0.3s;
            background-color: $primary-color;
            justify-content: space-between;
            align-items: center;
            padding: 19px;
            border-radius: 10px;
            margin-bottom: 0;
            @include breakpoint(large) {
                padding: 25px 50px 20px;
                font-weight: 600;
                cursor: pointer;
            }

            &:hover {
                opacity: 0.9;
            }

            span {
                font-size: 2rem;
                @include breakpoint(medium) {
                    font-size: 4rem;

                }
                transition: transform 0.4s;
                margin-left: 50px;
            }

            &.active {
                span {
                    transform: rotate(45deg);
                }
            }
        }

        &__text {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: rgba($primary-color, 0.1);
            font-weight: 500;
            color: $black;
            transition: all 0.4s ease-in-out;
            transform: translateY(-20px);
            opacity: 0;
            max-height: 0px;
            padding-left: 20px;
            padding-right: 20px;
            @include breakpoint(medium) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include breakpoint(medium) {
                font-size: 1.125rem;
            }

            &.active {
                transform: translateY(-5px);
                opacity: 1;
                max-height: 1500px;
                padding-top: 35px;
                padding-bottom: 25px;
                @include breakpoint(medium) {
                    padding-top: 55px;
                    padding-bottom: 45px;
                }

                @include breakpoint(large) {
                    max-height: 1000px;
                }
            }
        }
    }

    &--lexique {

        &__nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            @media screen and (min-width: 1220px) {
                justify-content: center;
            }

            &__item {
                font-size: 1.25rem;
                padding: 10px 0px;
                background-color: $light-gray;
                border: 1px solid $menu-gray;
                border-radius: 10px;
                color: $white;
                &:hover {
                    color: $white;
                }
                font-weight: 700;
                min-width: 40px;
                text-align: center;
                @include breakpoint(medium) {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    padding: 15px 0px;
                    font-size: 1.5rem;
                    min-width: 45px;
                }

                &.active {
                    border-bottom: none;
                    background-color: $white;
                    color: $secondary-color;
                }

                &.not-empty {
                    color: $primary-color;
                    &:hover {
                        background-color: $white;
                        color: $primary-color;
                    }
                    cursor: pointer;
                }
            }
        }

        &__item {
            display: none;
            strong {
                display: block;
                margin-bottom: 0.5rem;
                color: $primary-color;

                + br {
                    display: none;
                }
            }
            &.active {
                display: block;
            }

            &__title {
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
        }
    }
}

// fix for overflows

.full-width--right {
    @include breakpoint(medium down) {
        overflow: visible;
        position: relative;
        .mod--text-image.is_right {
            position: static;
        }
    }
}


.fixed-nav {

    &__container {
        position: fixed;
        z-index: 3;
        right: 10px;
        left: 10px;
        bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(large) {
            right: 20px;
            left: auto;
            bottom: 105px;
            flex-direction: column;
            align-items: flex-end;
        }
        @media screen and (min-width: 1380px) {
            right: 45px;
            bottom: 20px;
        }

    }

    &__menu {
        display: none;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        bottom: calc(100% + 1rem);
        flex-direction: column;
        justify-content: stretch;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));

        &.active {
            display: flex;
            opacity: 1;
            pointer-events: all;
        }

        @include breakpoint(large) {
            right: 0;
        }

        &__item {
            min-width: 312px;
            @include breakpoint(small down) {
                min-width: 270px;
                width: 100%;
            }
            height: 48px;
            background-color: $white;
            display: flex;
            align-items: center;
            padding: 14px 8px;
            border-radius: 3px;
            font-weight: 500;
            color: #464646;
            margin-top: 0.5rem;

            &:hover {
                color: $primary-color;
            }

            .svg {
                position: relative;
                width: 50px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    height: 19px;
                    path {
                        fill: $primary-color;
                    }
                }
            }

        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3);

    &.active {
        display: flex;
    }

}
