<div class="modal">
    <div class="grid-container">
        <div class="card--form">
            <span class="close js--close--modal">{{ svg('+') }}</span>
            {{ function('do_shortcode', '[caldera_form id="CF6012d493a78bf"]') }}
        </div>
    </div>
</div>
