{% if hero.image %}
{% set image = hero.image %}
{% else %}
{% set image = options.default_hero %}
{% endif %}
<section class="mod--hero full-width" style="background-image: url({{ image }});">
    <div class="grid-container">
        <div class="mod--hero__content">
            <h1 class="mod--hero__title">{{ title }}</h1>
            <div class="mod--hero__subtitle">{{ hero.text }}</div>
            {% if hero.link %}
            <a href="{{ hero.link.url }}" target="{{ hero.link.target }}" class="button primary">{{ hero.link.title }}</a>
            {% endif %}
        </div>
    </div>
    <div class="mod--hero__after"></div>
</section>
