<section class="mod--picto-text full-width">
    <div class="grid-container mod--picto-text__container">
        <div class="grid-x align-center align-stretch reveal">
            {% for key, item in items.picto_text_section %}
                <div class="cell small-6 large-auto reveal-{{ key+ 1 }} r">
                    {% include 'partials/cards/picto-mod-card.twig' %}
                </div>
            {% endfor %}
        </div>
        <a href="{{ items.link.url }}" class="button dark-gray centered">{{ items.link.title }}</a>
    </div>
</section>
