<section class="front--cta-text-image mod--cta-text-image full-width {{ bloc.image_left ? 'image_left' : '' }}">
    <div class="grid-container">
        <div class="front--cta-text-image__container">
            <div class="front--cta-text-image__content">
                <h2 class="front--cta-text-image__title">{{ bloc.title }}</h2>
                <div class="front--cta-text-image__subtitle">{{ bloc.text }}</div>
                <a href="#to-top" class="button primary">{{ bloc.cta_text }}</a>
            </div>
            <div class="front--cta-text-image__image mod--cta-text-image__image">
                {{ function('wp_get_attachment_image', bloc.image, 'full') }}
            </div>
        </div>
    </div>
</section>
