{% extends "base.twig" %}

{% block content %}
    {% include 'partials/front/hero.twig' %}
    {% include 'partials/front/cta-banner.twig' %}
    {% include 'partials/front/reassurance.twig' %}
    {% include 'partials/front/video.twig' %}
    {% include 'partials/front/cta-text-image.twig' %}
    {% include 'partials/common/mod-picto-text.twig' with { items: front_pictos_text[0] }%}
    {% include 'partials/front/offers.twig' %}

{% endblock %}

