{% extends "base.twig" %}

{% block content %}

    {% include 'partials/common/hero-standard.twig' %}
    {{ content|raw }}

    {% if posts|length > 0 %}
        <div class="mod mod--lexique" id="lexique">
            <div class="mod--lexique__nav">
                {% for key, post in posts %}
                    <a href="#lexique" class="mod--lexique__nav__item  {{ key == 0 ? "active" : ""}} {{ post.content is empty ? '' : 'not-empty js--lexique' }}" data-key={{ key }}>
                         {{ post.title }}
                    </a>
                {% endfor %}
            </div>
            {% for key, post in posts %}
                <div class="mod--lexique__item {{ key == 0 ? "active" : ""}}" data-key={{ key }}>
                    <article class="post">
                        <h2 class="h3 text-primary text-center mod--lexique__item__title">Lettre {{ post.title }}</h2>
                        <div class="mod--lexique__content">
                            {{ post.content|raw }}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
