{% extends "base.twig" %}

{% block content %}
    {% include 'partials/services/hero.twig' %}
    {% include 'partials/services/form-section.twig' %}
    {% include 'partials/common/mod-picto-text.twig' with { items: service_pictos_text[0] }%}
    {% include 'partials/common/mod-cta-text-image.twig' with { bloc: service_text_image_1[0].component_text_image }%}
    <div class="show-for-large">
        {% include 'partials/common/mod-cta-text-image.twig' with { bloc: service_text_image_2[0].component_text_image }%}
    </div>
    {% include 'partials/services/table-section.twig' %}

{% endblock %}
