{% extends "base.twig" %}

{% block content %}
    {% include 'partials/common/hero-standard.twig' %}
    {{ content|raw }}
    {{ function('do_shortcode', '[wp_sitemap_page only="page"]') }}

{% endblock %}
