<section class="service--form-section full-width">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-top align-justify">
            <div class="cell large-6">
                <div class="card--form">
                    {{ content|raw }}
                </div>
            </div>
            <div class="cell large-5">
                <div class="service--form-section__content">
                    <h2 class="service--form-section__title text-white">{{ service_form.title }}</h2>
                    <div class="service--form-section__text text-white show-for-large">{{ service_form.text }}</div>
                    <div class="show-for-large">
                        <a href="tel:{{ service_form.phone }}" class="button primary with-picto">
                            <div>{{ svg('phone') }}</div>
                            <div>{{ service_form.phone }}<br><span>{{ service_form.phone_text }}</div></span>
                        </a>
                    </div>
                    <div class="hide-for-large">
                        <a href="tel:{{ service_form.phone }}" class="mobile-button">
                            <div class="button primary round">{{ svg('phone') }}</div>
                            <div class="mobile-button__text">{{ service_form.phone }}<br><span>{{ service_form.phone_text }}</div></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

