<section class="service--hero full-width" style="background-image: url({{ service_hero.bg_image }});">
    <div class="service--hero__content">
        <div class="grid-container">
            <h1 class="service--hero__title text-white">{{ service_hero.title }}</h1>
            <div class="service--hero__subtitle text-white">{{ service_hero.subtitle }}</div>
        </div>
    </div>
</section>
