{% set onglets = service_table.table_header.onglets|length %}
{% if onglets > 0 %}
<section class="service--table-section">
    <h2 class="service--table-section__title h1 text-center">{{ service_table.title }}</h2>
    <div class="service--table-section__table">
        <table class="unstriped">
            <thead>
                <tr>
                    <th class="title">{{ service_table.table_header.title }}</th>
                    {% for key, item in service_table.table_header.onglets %}
                    <td class="onglet js--onglet {{ key == 0 ? 'active' : '' }}" data-key={{key}}>{% include 'partials/cards/table-header-card.twig' %}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in service_table.table %}
                    <tr class="onglet {{ line.line.validated ? 'validated' : '' }}">
                        <th><div>{{ line.line.title }}</div></th>
                        {% for key, value in line.line.value %}
                        <td class="{{ key == 0 ? 'active' : '' }} {{ onglets == 3 ? 'onglets-3' : '' }}" data-key={{key}}><div>{{ value.value ? svg('yes') : svg('no') }}</div></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="#to-top" class="button primary centered">{{ service_table.cta_text }}</a>
</section>
{% endif %}
