<section class="front--cta-text-image full-width">
    <div class="front--cta-text-image__container">
        <div class="grid-container">
            <div class="front--cta-text-image__content">
                <h2 class="front--cta-text-image__title">{{ front_text_image.title }}</h2>
                <div class="front--cta-text-image__subtitle">{{ front_text_image.text }}</div>
            </div>
            <a href="{{ front_text_image.link.url }}" class="button primary">{{ front_text_image.link.title }}</a>
        </div>
        <div class="front--cta-text-image__image show-for-large">
            {{ function('wp_get_attachment_image', front_text_image.image, 'full') }}
        </div>
    </div>
</section>
