<section class="front--cta-banner full-width">
    <div class="front--cta-banner__container">
        <h1 class="h2 front--cta-banner__title grid-container text-center text-primary">{{ front_cta_banner.title }}</h1>
        <div class="grid-container">
            <h2 class="front--cta-banner__subtitle text-white text-center">{{ front_cta_banner.subtitle }}</h2>
        </div>
    </div>
    <div class="front--cta-banner__blocs">
        {% for item in front_cta_banner.cta_blocs %}
            {% include 'partials/cards/picto-card.twig' %}
        {% endfor %}
    </div>
    <a href="{{ front_cta_banner.link.url }}" class="button primary centered">{{ front_cta_banner.link.title }}</a>
</section>
