<section class="front--hero full-width">
    <div class="front--hero__slider show-for-large">
        {% for slide in front_hero.slider %}
        <div class="front--hero__slider__image">
        {{ function('wp_get_attachment_image', slide.image, 'full') }}
        </div>
        {% endfor %}
    </div>
    <div class="front--hero__mobile hide-for-large">
        {{ function('wp_get_attachment_image', front_hero.mobile_image, 'full') }}
    </div>
    <div class="front--hero__content">
        <div class="grid-container">
            <div class="h1 front--hero__title">{{ front_hero.title }}</div>
            <div class="h2 front--hero__subtitle">{{ front_hero.subtitle }}</div>
        </div>
    </div>
</section>
