<section class="front--offers full-width" id="offers">
    <div class="front--offers__left">
        {{ function('wp_get_attachment_image', front_offers.left_image, 'full') }}
    </div>
    <div class="front--offers__right">
        {{ function('wp_get_attachment_image', front_offers.right_image, 'full') }}
    </div>
    <div class="grid-container">
        <h2 class="front--offers__title text-center">{{ front_offers.title }}</h2>
        <div class="grid-x grid-margin-x align-stretch mb-grid">
            {% for key, item in front_offers.colored_blocs %}
                <div class="cell small-6">
                    {% include 'partials/cards/colored-card.twig' with { 'key': key + 1  } %}
                </div>
            {% endfor %}
        </div>
        <div class="grid-x grid-margin-x grid-margin-y align-stretch mb-2">
            {% for item in front_offers.cta_blocs %}
                <div class="cell small-6 large-3">
                    {% include 'partials/cards/picto-text-card.twig' %}
                </div>
            {% endfor %}
        </div>
        <a href="{{ front_offers.link.url }}" class="button primary centered">{{ front_offers.link.title }}</a>

    </div>
</section>
