<section class="front--reassurance full-width">
    <div class="grid-container front--reassurance__container">
        <div class="grid-x align-center align-stretch reveal">
            {% for key, item in front_reassurance %}
                <div class="cell shrink reveal-{{ key+ 1 }} r">
                    {% include 'partials/cards/picto-reassurance-card.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
