<section class="front--video text-center" id="vimeo-section">
    <div class="front--video__container">

        <h2 class="front--video__title">L’assurance malus et résiliés</h2>
        <p class="front--video__subtitle mb-2">Une agence 100% digitale et 100% réactive portée par une équipe d’experts.</p>
        <div class="full-width mt-4 mb-2">
            <div class="grid-container">
                {% if front_image_cta.link %}
                <a href="{{ front_image_cta.link.url }}" target="{{ front_image_cta.link.target }}" class="front--image-cta">
                {% else %}
                <div class="front--image-cta">
                {% endif %}
                    <div class="show-for-large">
                        {{ function('wp_get_attachment_image', front_image_cta.image_laptop, 'full') }}
                    </div>
                    <div class="hide-for-large">
                        {{ function('wp_get_attachment_image', front_image_cta.image_mobile, 'full') }}
                    </div>
                {% if front_image_cta.link %}
                </a>
                {% else %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="front--video__pictos">
        <img src="{{ theme.link }}/assets/images/vu-tele.png" alt="Vu à la télé" srcset="{{ theme.link }}/assets/images/vu-tele-2x.png 2x">
        <img src="{{ theme.link }}/assets/images/m6.png" alt="Logo M6" srcset="{{ theme.link }}/assets/images/m6-2x.png 2x">
        <img src="{{ theme.link }}/assets/images/w9.png" alt="Logo W9" srcset="{{ theme.link }}/assets/images/w9-2x.png 2x">
        </div>
        <div class="responsive-embed">
            <iframe id="vimeo-player" src="https://player.vimeo.com/video/558545441" width="745" height="440" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <a href="#offers" class="button primary">Découvrez nos offres</a>
    </div>
</section>
