{% extends "base.twig" %}

{% block content %}
    {% include 'partials/common/hero-standard.twig' with {'title': 'Page non trouvée'} %}
    <div class="mh-50 bg-white">
        <h2 class="text-black">Page introuvable</h2>
        <p class="mb-4">Désolé, cette page n'est pas disponible ou n'existe pas.</p>
        <a href="{{ home }}" class="button primary">RETOUR À l'ACCUEIL</a>
    </div>
{% endblock %}
