.footer {

    position: relative;
    z-index: 1;
    &--contact {

        &__content {
            position: relative;
            padding-bottom: 20px;
            @include breakpoint(large) {
                padding-bottom: 40px;
            }
            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 80%;
                background-image: url('../images/footer_contact_bg.svg');
                background-size: cover;
                @include breakpoint(large) {
                    height: 335px;
                }
            }

            .bg_shape {
                position: absolute;
                z-index: -1;
                right: 0;
                bottom: -7px;
                svg {
                    height: 100%;


                }

                @include breakpoint(medium down) {
                    &:nth-of-type(1) {
                        svg {
                            max-width: 80vw;
                        }
                    }
                    &:nth-of-type(2) {
                        svg {
                            max-width: 40vw;
                        }
                    }
                }
            }

            img {
                border-radius: 50%;
                @include breakpoint(medium down) {
                    max-width: 35vw;
                    min-width: 144px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    margin-bottom: 1.125rem;
                }
            }
        }

        &__text {
            transition: 0.3s;
            &:hover {
                color: $primary-color;
                opacity: 0.9;
            }
            text-align: center;
            font-weight: 500;
            display: block;
            @include breakpoint(large) {
                text-align: left;
                display: block;
                margin-bottom: 24px;
                font-weight: 600;
            }
        }

        &__title {
            text-align: center;
            @include breakpoint(large) {
                text-align: left;
                font-size: 2rem;
            }
        }
    }

    &--main {
        li {
            list-style: none;
        }

        background-color: $light-gray;
        padding-top: 20px;
        padding-bottom: 20px;

        .footer-nav {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 2rem;

            @include breakpoint(large) {
                margin-bottom: 0;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding-top: 32px;
                padding-bottom: 32px;
            }

            a {
                font-weight: 500;
                font-size: 1rem;
                font-family: $primary-font;
                color: $main-gray;
                display: block;
                text-align: center;
                @include breakpoint(large) {
                    text-align: left;
                    margin-bottom: 1rem;
                    font-size: 1.125rem;
                }
                &:hover, &:focus {
                    color: $primary-color;
                }

            }

            .menu-item-has-children {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .toggler {
                    display: none;
                }
                .sub-menu {
                    margin: 0;
                    @include breakpoint(medium down) {
                        opacity: 0;
                        pointer-events: none;
                        height: 0;
                        transform: translateY(-10px);
                        transition: all 0.3s;
                    }
                }
                @include breakpoint(medium down) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    max-width: 320px;
                    position: relative;
                    .toggler {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: transform 0.3s;
                        width: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }
                > a {
                    font-weight: 600;
                    font-size: 1.1875rem;
                    font-family: $secondary-font;
                    line-height: 1.52;
                    margin-bottom: 7px;

                    @include breakpoint(large) {
                        font-weight: 700;
                        font-size: 1.875rem;
                        margin-bottom: 2rem;
                        padding-left: 10px;

                    }
                }

                &.active {
                    @include breakpoint(medium down) {
                        .sub-menu {
                            opacity: 1;
                            pointer-events: all;
                            height: auto;
                            transform: translateY(0);
                            a {
                                margin-bottom: 0.75rem;
                            }
                        }
                        .toggler {
                            transform: rotate(45deg);
                            transform-origin: center;
                        }
                    }

                }

            }
        }

        .slogan {
            font-weight: 500;
            margin-bottom: 0;
            p {
                margin-bottom: 0;
                text-align: center;
                color: $primary-color;
                @include breakpoint(small down) {
                    font-size: 1.125rem;
                }
            }

        }

        &__rs {
            span {
                font-size: 1.25rem;
                font-weight: 700;
                color: $main-gray;
                @include breakpoint(medium) {
                    font-size: 1.5rem;
                }
            }
            display: flex;
            align-items: center;
            justify-content: center;
            > * {
                margin: 0.875rem;
            }

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &--bottom {

        background-color: $light-gray;
        padding-bottom: 140px;
        @include breakpoint(medium) {
            padding-bottom: 180px;
        }
        @include breakpoint(large) {
            padding-bottom: 20px;
        }
        a {
            margin-right: 12px;
            margin-left: 12px;
            margin-bottom: 14px;
            font-weight: 500;
            font-size: 17px;
            color: $main-gray;

            &:hover, &:focus {
                color: $primary-color;
            }

        }
        @include breakpoint(small down) {
            text-align: center;
            font-size: 15px;
        }

        &__container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .signature {
            position: absolute;
            right: 10px;
            bottom: -35px;
            margin-bottom: 0;
            @include breakpoint(medium) {
                bottom: initial;
                top: 100%;
            }
            @media screen and (min-width: 900px) {
                position: static;
                margin-bottom: 14px;
            }
            &:hover {
                svg {
                    path {
                        fill: $primary-color !important;
                    }
                }
            }
        }
    }
}
