.front {
    &--hero {
        position: relative;
        min-height: 390px;
        @include breakpoint(medium) {
            min-height: 555px;
        }

        @include breakpoint(medium down) {
            background-image: url('../images/front-hero-bg-mobile.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__mobile {
            position: absolute;
            z-index: -1;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &__content {
            position: absolute;
            top: 32px;
            right: 0;
            left: 0;
            @include breakpoint(large) {
                left: 20vw;
                right: 20vw;
            }
            @media screen and (min-width: 1500px) {
                top: 110px;
                height: 500px;
            }
        }
        &__title {
            color: $black;
            margin-bottom: 0.75rem;
            @include breakpoint(large) {
                margin-bottom: 0.5rem;
            }
        }

        &__subtitle {
            margin-bottom: 0;
            color: $white;
        }

        &__slider {
            position: relative;
            min-height: 680px;

            &__image {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-height: 600px;
                    @media screen and (min-width: 1024px) and (max-width: 1300px) {
                        height: 500px;
                    }

                    @media screen and (min-width: 1920px) {
                        max-height: 850px;
                    }
                }
            }
        }

    }

    &--cta-banner {
        position: relative;
        z-index: 0;
        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            bottom: 0;
            background: url('../images/banner_1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        min-height: 360px;
        width: 100vw;
        transform: translateY(-24vw);
        margin-bottom: calc(-24vw - 90px);
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(large) {
            transform: translateY(-7vw);
            margin-bottom: calc(-7vw - 90px);
            background-size: contain;
            min-height: 25vw;
        }

        @media screen and (min-width: 1024px) and (max-width: 1500px) {
            transform: translateY(-22vw);
            margin-bottom: calc(-22vw - 90px);
        }
        @media screen and (min-width: 1501px) {
            transform: translateY(-15vw);
            margin-bottom: calc(-15vw - 90px);
        }

        &__title {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            @include breakpoint(medium only) {
                font-size: 1.5rem;
            }
            @include breakpoint(large) {
                margin-bottom: 1rem;
            }
            @media screen and (min-width: 1024px) and (max-width: 1450px) {
                font-size: 2.3vw;
            }
            @media screen and (min-width: 1450px) {
                max-width: 1350px;
            }
        }
        &__subtitle {
            font-weight: 400;
            @include breakpoint(medium only) {
                font-size: 1.5rem;
            }
            @media screen and (min-width: 1024px) and (max-width: 1500px) {
                font-size: 2.3vw;
            }
        }

        &__container {
            display: flex;
            position: relative;
            z-index: 3;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .button {
            min-width: 280px;
            max-width: fit-content;
            position: absolute;
            z-index: 4;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 0;
            transform: translateY(-40%);
            @media screen and (min-width: 1920px) {
                transform: translateY(-2vw);
            }
        }

        &__blocs {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 70%;
            flex-wrap: wrap;
            z-index: 2;


            @include breakpoint(medium only) {
                bottom: 74%;
            }

            @media screen and (min-width: 450px) and (max-width: 799px) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
            @media screen and (min-width: 900px) {
                z-index: -1;
                bottom: 61%;
                max-width: 60vw;
                margin-left: auto;
                margin-right: auto;
                justify-content: space-between;
            }

            @media screen and (min-width: 1350px) {
                max-width: 820px;
                bottom: 65%;
            }
            @media screen and (min-width: 1920px) {
                bottom: 69%;
            }


        }
    }

    &--reassurance {
        padding-top: 110px;
        padding-bottom: 30px;
        z-index: -1;
        position: relative;
        @include breakpoint(large) {
            background: url('../images/bg_front_reassurance.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 150px;
            padding-bottom: 70px;
        }

        &__container {

            @media screen and (min-width: 1380px) {
                max-width: 1290px;
            }

            @include breakpoint(medium only) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint(large) {

                .cell:nth-of-type(1) {
                    position: relative;
                    &:after {
                        content: '';
                        height: 75%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 4px;
                        background-color: rgba($primary-color, 0.16);
                    }
                }
                .cell:nth-of-type(2) {
                    position: relative;
                    &:after {
                        content: '';
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 4px;
                        background-color: rgba($primary-color, 0.16);
                    }
                }
                .cell:nth-of-type(3) {
                    position: relative;
                    &:after {
                        content: '';
                        height: 75%;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 4px;
                        background-color: rgba($primary-color, 0.16);
                    }
                }
            }
        }
    }

    &--cta-text-image {
        padding-top: 200px;
        position: relative;
        &:not(.mod--cta-text-image) {
            &:before {
                content: '';
                position: absolute;
                z-index: 0;
                top: 0;
                left: -50%;
                right: -5%;
                height: 70%;
                background: url('../images/bg-circle-keys-mobile.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @media screen and (min-width: 370px) {
                    top: -14vw;
                    background-size: 100vw;
                    height: 100vw;
                }
                @include breakpoint(large) {
                    background: url('../images/bg-circle-keys.png');
                    background-repeat: no-repeat;
                    left: 0;
                    top: 65%;
                    background-size: 74%;
                    transform: translateX(-49%) translateY(-45%);

                }
                @media screen and (min-width: 1300px) {
                    top: 50%;
                }
                @media screen and (min-width: 1400px) {
                    background-size: 76%;
                }
                @media screen and (min-width: 1550px) {
                    background-size: 80%;
                }
                @media screen and (min-width: 1650px) {
                    background-size: 83%;
                }
                @media screen and (min-width: 1920px) {
                    background-size: 50%;
                    transform: translateX(-33%) translateY(-30%);
                }
            }
        }
        @include breakpoint(large) {
            min-height: 65vw;
            padding-top: 180px;
            padding-bottom: 80px;
            margin-bottom: 7%;
        }
        @media screen and (min-width: 1420px) {
            margin-bottom: 0;
        }
        @media screen and (min-width: 1920px) {
            min-height: 800px;
            margin-bottom: 250px;
        }

        &__container {
            position: relative;

            @include breakpoint(medium down) {
                .button {
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0;
                    transform: translateY(-50%);
                }
            }
        }

        &__content {
            background-color: $white;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding: 36px 36px 60px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.09);
            @include breakpoint(medium) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 15px;
            }



            @include breakpoint(large) {
                box-shadow: none;
                margin-left: 0;
                max-width: 45vw;
                text-align: left;
                padding: 34px 120px 68px 6px;
                border-radius: 0px 0px 50px 0px;
                margin-bottom: 1.5rem;
            }

            @media screen and (min-width: 1350px) {
                max-width: 690px;
            }
        }

        &__title {
            color: $dark-gray;
        }
        &__subtitle {
            color: $dark-gray;
            font-weight: 500;
            @include breakpoint(medium) {
                font-size: 1.125rem;
            }


        }

        &__image {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 40px;

            max-width: 55vw;
            @media screen and (min-width: 1650px) {
                max-width: 750px;
            }
            &:before {
                position: absolute;
                bottom: 0;
                left: -7vw;
                content: '';
                z-index: -2;
                width: 680px;
                height: 680px;
                max-width: 80%;
                max-height: 80%;
                margin-right: 150px;
                background: url('../images/ellipse.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
            img {
                display: block;
                margin-right: 0;
                border-radius: 50%;
            }

        }
    }

    &--offers {

        position: relative;
        padding-top: 60px;
        @include breakpoint(medium) {
            padding-top: 45px;
        }
        &__left {
            position: absolute;
            z-index: -1;
            width: 37vw;
            top: 30px;
            @include breakpoint(medium) {
                width: 33vw;
                top: -10px;
            }
            @include breakpoint(large) {
                top: -105px;
            }
            left: 0;
        }
        &__right {
            position: absolute;
            z-index: -1;
            width: 29vw;
            right: 0;
            top: 90px;
            img {
                display: block;
                margin-left: auto;
            }
        }

        &__title {
            margin-bottom: 55px;
            color: $dark-gray;
            @include breakpoint(medium) {
                margin-bottom: 100px;
            }
            @include breakpoint(large) {
                margin-bottom: 130px;
            }

        }

        .shadow {
            box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.25);
            @include breakpoint(medium) {
                box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.16);
            }
        }

        .button {
            min-width: 280px;
        }
    }

    &--video {
        padding-top: 60px;
        padding-bottom: 40px;
        @include breakpoint(medium) {
            padding-top: 80px;
            padding-bottom: 0;
            margin-bottom: -20px;
        }

        @media screen and (min-width: 800px) {
            max-width: 745px;
            margin-left: auto;
            margin-right: auto;
        }

        &__title {
            color: $dark-gray;
        }
        &__subtitle {
            color: $dark-gray;
            font-weight: 500;
            @include breakpoint(medium) {
                font-size: 1.5rem;
            }
        }

        &__container {
            position: relative;
            z-index: 1;
        }

        &__pictos {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin: 0 25px;
            }
        }

    }
}
