.header {
    z-index: 4;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    li{
        list-style: none;
        @include breakpoint(large) {
            height: 100%;
        }
        width: 100%;
        text-align: center;
    }

    &--main {
        position: relative;
        z-index: 6;
        box-shadow: 0 0 29px rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        @include breakpoint(large) {
            height: 120px;
            justify-content: space-between;
        }

        transition: all 0.2s;
    }

    &__logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        transition: all 0.4s;
        display: block;
        svg {
            // height: 96px;
            width: auto;
        }
        img {
            height: 65px;
            width: auto;
        }

        @include breakpoint(large) {
            position: static;
            svg {
                height: 70px;
            }
        }

        @media screen and (min-width: $global-width) {
            svg {
                height: 85px;
            }
        }

    }

    &__phone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 16px;
        color: $white;
        background-color: $primary-color;
        max-width: 277px;
        border-radius: 7px;
        transform: opacity 0.3s;
        &:hover {
            opacity: 0.9;
            color: $white;
        }
        @include breakpoint(large) {
            border-radius: 0;
            height: 120px;
            border-bottom-left-radius: 20px;
            flex-direction: column;
        }
        @media screen and (min-width: $global-width) {
            width: 240px;
        }
        &__value {
            margin-right: 7px;
            svg {
                width: 115px;
                transform: translateY(2px);
            }
            @include breakpoint(large) {
                margin-bottom: 8px;
                margin-right: 0;
                transform: translateY(0);

            }
            @media screen and (min-width: $global-width) {
                svg {
                    width: initial;
                }
            }
        }

        &__label {
            font-size: 0.875rem;
            font-weight: bold;
            color: $primary-color;
            background-color: $white;
            border-radius: 40px;
            padding: 3px 10px;
            @media screen and (min-width: $global-width) {
                font-size: 1.125rem;
            }
        }
    }
    .hamburger-area{
        position: absolute;
        display: flex;
        right: 50px;
        top: 0;
        bottom: 0;
    }

    .nav-primary{
        position: fixed;
        box-shadow: inset 0 3px 9px -3px rgba(0,0,0,0.2);
        padding: 20px;
        z-index: 5;
        pointer-events: none;
        background-color: #fff;
        opacity: 0;
        top: 75px;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.4s;
        @include breakpoint(medium) {
            left: 50%;
        }

        @include breakpoint(large) {
            box-shadow: none;
            padding: 20px 0;
            height: 100%;
            position: static;
            opacity: 1;
            pointer-events: auto;

        }
        ul.nav{
            margin-left: 0;
            margin-bottom: 0;
            a{
                font-weight: 400;
                line-height: 1;
                @media screen and (min-width: $global-width) {
                    font-size: 1.125rem;
                }
                font-family: $secondary-font;
                @include breakpoint(medium down) {
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem !important;
                }
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint(large) {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                vertical-align: middle;
                height: 100%;
                li{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 30px;
                }
                a{
                    transition: all 0.2s;
                }

            }

            > li a{
                display: inline-block;
                &:hover, &:focus{
                    color: $primary-color;
                    font-weight: 600;
                }
            }

            &>li:last-of-type{

                a{
                    vertical-align: center;
                }
                width: 100%;

            }
            li.current-menu-item a {
                color: $primary-color;
                font-weight: bold;
            }
            .menu-item{
                vertical-align: middle;
                a{
                    padding: 0.25rem 0;
                }
                max-width: 270px;
                margin: 0 auto;
                br {
                    display: none;
                    @include breakpoint(large) {
                        display: block;
                    }
                }
                @include breakpoint(large) {
                    min-width: 110px;
                    a{
                        padding: 0;
                    }
                }
                @media screen and (min-width: $global-width) {
                    min-width: 125px;
                }
            }
        }
    }
    .show-menu{
        opacity: 1;
        transform: translateY(-10px);
        pointer-events: auto;
        @include breakpoint(large) {
            transform: translateY(0);
        }
    }

}
