.service {

    &--hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 32px;
        position: relative;
        min-height: 105vw;
        @media screen and (min-width: 450px) {
            min-height: 90vw;
        }
        @include breakpoint(medium) {
            min-height: 80vw;
            padding-top: 75px;
        }
        @include breakpoint(large) {
            min-height: 70vw;
            padding-top: 110px;
        }
        @media screen and (min-width: 1300px) {
            min-height: 60vw;
        }
        @media screen and (min-width: 1700px) {
            min-height: 1100px;
        }
        @media screen and (min-width: 1920px) {
            min-height: 1150px;
        }


        &__title {
            margin-bottom: 40px;

            @include breakpoint(medium) {
                margin-bottom: 35px;
            }
        }

        &__subtitle {
            font-weight: 500;

            @include breakpoint(medium) {
                font-size: 1.125rem;
            }

            @include breakpoint(medium down) {
                padding-bottom: 39vw;
            }

            @media screen and (min-width: 1500px) {
                font-size: 1.5rem;
            }

        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 39vw;
            background: url('../images/bg_service_hero.svg');
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 120%;
            left: 0;
            height: 463px;
            width: 240px;
            background: url('../images/half-double-circle.svg');
            background-repeat: no-repeat;
            @include breakpoint(large) {
                top: 80%;
                background: url('../images/half-circle.svg');
                background-repeat: no-repeat;
                z-index: 0;
                height: 686px;
                width: 686px;
                background-size: 55%;

            }
            @media screen and (min-width: 1200px) {
                background-size: 50%;
            }
            @media screen and (min-width: 1300px) {
                top: 75%;
                background-size: 350px;
            }
            @media screen and (min-width: 1600px) {
                background-size: 410px;
            }
        }

    }

    &--form-section {
        position: relative;
        transform: translateY(-38vw);
        margin-bottom: -38vw;
        @media screen and (min-width: 1920px) {
            transform: translateY(-32vw);
            margin-bottom: -32vw;
        }


        .card--form {
            @include breakpoint(large) {
                .button {
                    margin-left: 0;
                }
            }
            @include breakpoint(medium down) {
                margin-left: auto;
                margin-right: auto;
            }
        }


        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 325px;

            @include breakpoint(medium) {
                max-width: 600px;

            }
            @include breakpoint(large) {
                margin-top: 18%;
            }

            @media screen and (min-width: 1200px) {
                margin-top: 21%;
            }
            @media screen and (min-width: 1400px) {
                margin-top: 25%;
            }
            @media screen and (min-width: 1600px) {
                margin-top: 30%;
            }


            @include breakpoint(medium down) {
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                min-height: 140px;
                background-color: $white;
                box-shadow: 0px 0px 115px 6px rgba(0, 0, 0, 0.16);
                border-radius: 10px;
                padding: 22px 29px;
            }

            @include breakpoint(medium only) {
                margin-top: 80px;
                padding-right: 60px;
                padding-left: 60px;
            }

        }

        &__title {
            margin-bottom: 30px;
            font-weight: 500;
            span {
                font-weight: 700;
            }
            @include breakpoint(medium down) {
                margin-bottom: 16px;
                color: $dark-gray;
                span {
                    color: $primary-color;
                }
            }
        }

        &__text {
            margin-bottom: 30px;
            font-size: 1.25rem;
        }
        .with-picto {
            min-width: 410px;
            min-height: 126px;
            font-size: 30px;
            svg {
                width: 46px;
                height: 46px;
                margin-right: 38px;
            }

            span {
                font-weight: 40;
            }
        }

        .mobile-button {
            display: flex;
            align-items: center;

            &:hover {
                color: $primary-color;
            }

            &__text {
                font-weight: 700;
                font-size: 1.25rem;
                span {
                    font-weight: 400;
                }
            }

            .round {
                min-width: 40px;
                width: 58px;
                height: 58px;
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                svg {
                    width: 24px;
                    height: 25px;
                }
                @include breakpoint(medium only) {
                    width: 70px;
                    height: 70px;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

                border-radius: 50%;
                margin-right: 30px;
            }
        }
    }

    &--table-section {
        margin-bottom: 3rem;
        @include breakpoint(large) {
            margin-bottom: 4.75rem;
        }
        &__title {
            color: $dark-gray;
            margin-bottom: 3rem;
            @include breakpoint(medium) {
                margin-bottom: 7rem;
            }
        }

        &__table {

            box-shadow: 0px 0px 115px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            padding: 32px 38px 24px;

            @media screen and (max-width: 420px) {
                padding-left: 5px;
                padding-right: 5px;
            }

            @include breakpoint(medium only) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint(medium down) {
                padding: 40px 20px 60px;
            }
            table {

                display: table;

                thead {
                    font-weight: 700;
                    tr, th, td {
                        color: $dark-gray !important;
                        border-top: none;
                    }
                    th {
                        border-left: none;
                    }


                    .onglet {
                        padding: 10px;
                        @include breakpoint(large) {
                            padding: 20px 20px 50px;
                        }
                        &:nth-of-type(1) {
                            svg, strong {
                                opacity: 0.5;
                            }
                        }
                        &:nth-of-type(2) {
                            svg, strong {
                                opacity: 0.7;
                            }
                        }
                    }

                }

                tr {
                    th:last-of-type, td:last-of-type {
                        border-right: none;
                    }
                    &:last-of-type {
                        th, td {
                            border-bottom: none;
                        }
                    }

                    th {
                        height: 100%;
                    }
                }
                td {
                    display: table-cell;
                }

                th, td {
                    border: 1px solid rgba($menu-gray, 0.4);
                    border-collapse: collapse;
                }

                tbody {
                    tr, th, td {
                        color: $menu-gray;
                    }

                    .onglet {
                        td {
                            div {
                                min-height: 100px !important;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                    }

                    th {
                        padding-left: 0;
                        font-weight: 500;
                        text-align: left;
                        border-left: none;
                    }

                    tr {
                        border-left: none;
                        border-right: none;
                    }

                }
                .validated {
                    th {
                        font-weight: 700;
                    }
                    @include breakpoint(large) {
                        td {
                            background-color: rgba($primary-color, 0.1);
                        }
                    }
                }

                @include breakpoint(medium down) {

                    overflow: hidden;
                    thead {
                        th.title {
                            display: none;
                        }

                        td {
                            box-shadow: inset 0 3px 15px 0px rgba(0,0,0,0.1);
                            border: none;
                            &.active {
                                box-shadow: none;
                            }

                            .onglet {
                                padding: 0;
                            }

                            @media screen and (max-width: 420px) {
                                .text {
                                    font-size: 13px;
                                }
                            }
                        }

                        tr {
                            border-right: none;
                            border-left: none;
                        }
                    }
                    td, th {
                        border: none;
                        border: none;
                    }
                    tr {
                        border: 1px solid rgba(#ECECEC, 0.8);
                    }
                    tbody {

                        td {
                            display: none;
                            &.active {
                                min-height: 70px;
                                padding-top: 14px;
                                padding-bottom: 14px;
                                position: relative;
                                display: flex;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    height: 100%;
                                    width: 125px;
                                    top: -1px;
                                    bottom: 0;
                                    left: 100%;
                                    border-top: 1px solid rgba(#ECECEC, 0.8);
                                }
                                > div {
                                    position: absolute;
                                    left: 85px;
                                    @media screen and (max-width: 420px) {
                                        left: 130px;
                                    }
                                    top: 50%;
                                    transform: translateY(-50%);
                                    justify-content: center;
                                    align-items: center;
                                }
                                &.onglets-3 {
                                    > div {
                                        left: 140%;
                                        @media screen and (max-width: 420px) {
                                            left: 155px;
                                        }
                                    }
                                }
                            }

                        }

                        tr {
                            &:first-child {
                                border: none !important;
                                td {
                                    &.active {
                                        &:after {
                                            border: none !important;
                                        }
                                    }
                                }
                            }

                            @media screen and (max-width: 420px) {
                                th {
                                    position: relative;
                                    div {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        bottom: 0;
                                        vertical-align: middle;
                                        width: 240px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }

        .button {
            margin-bottom: 0;
            transform: translateY(-50%);
            @include breakpoint(large) {
                transform: translateY(0);
                margin-top: 85px;
            }
        }
    }
}
