{% if fields %}
<section class="mod mod--accordion">
    {% for key, question in fields.accordion %}
        <div class="mod--accordion__item">
            <h3 class="mod--accordion__title js--expand" data-key={{ key }}>{{ question.title }} <span>+</span></h3>
            <div class="mod--accordion__text" data-key={{ key }}>{{ question.text }}</div>
        </div>
    {% endfor %}
</section>
{% endif %}
