<section class="mod mod--pictos__bg-image {{ fields.translateY ? 'mod--pictos__bg-image--translateY' : '' }} full-width">
    {% if fields.image %}
    <div class="mod--pictos__bg-image__image">
        {{ function('wp_get_attachment_image', fields.image, 'full') }}
    </div>
    {% endif %}
    <div class="grid-container">
        {% if fields.title %}
        <h2 class="mod--pictos__bg-image__title text-center">{{ fields.title }}</h2>
        {% endif %}
    </div>
    {% if fields.blocs|length > 0 %}
    <div class="mod--pictos__bg-image__banner">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-justify align-stretch reveal mobile-slider">
            {% for key, item in fields.blocs %}
                <div class="cell large-3 reveal-{{ key+ 1 }}">
                    {% include 'partials/cards/picto-text-card-module.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
