{% if fields %}
    <div class="full-width overflow-hidden {{ fields.image_right == "yes" ?  "full-width--right" : ""}}">
        <section class="mod mod--text-image {{ fields.image_right == "yes" ?  "is_right" : "is_left"}}">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x align-top align-justify {{ fields.image_right == "yes" ?  "flex-dir-column-reverse large-flex-dir-row-reverse" : ""}}">
                        {% if fields.image %}
                        <div class="cell large-6">
                            <div class="mod--text-image__image">
                            {{ function('wp_get_attachment_image', fields.image, 'module-image') }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="cell {{ fields.image ? '' : 'medium-12'}} large-{{ fields.image ? '6' : '12'}}">
                            <div class="mod--text-image__content">
                                {% if fields.title %}
                                <h2 class="mod--text-image__title">{{ fields.title }}</h2>
                                {% endif %}
                                {% if fields.text %}
                                <div class="mod--text-image__text js--reduced" data-key={{ fields.image }}>{{ fields.text }}</div>
                                <div class="see-more js--see-more hide-for-large text-primary" data-key={{ fields.image }}>+ En savoir plus</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
{% endif %}
