<footer class="footer">
    {% include 'partials/footer/footer-contact.twig' %}
    {% include 'partials/footer/footer-main.twig' %}
    {% include 'partials/footer/footer-bottom.twig' %}
    {% include 'partials/footer/footer-fixed-nav.twig' %}
</footer>
