<header class="header">
    <div class="header--main">
        <div class="header__logo">
            <a href="{{ home }}" aria-label="Retour à l'accueil">
                <div class="show-for-large">
                {{ svg('logo-eastassur') }}
                </div>
                <div class="hide-for-large">
                {{ function('wp_get_attachment_image', options.logo_mobile, 'full') }}
                </div>
            </a>
        </div>
        <nav id="site-navigation" class="nav-primary">
            {{ menu }}
            <div class="hide-for-large">
                <a href="tel:{{ options.phone }}" class="header__phone">
                    <span class="header__phone__value">{{ svg('phone-number') }}</span>
                    <div class="header__phone__label">{{ options.phone_label }}</div>
                </a>
            </div>
        </nav>
        <div class="hide-for-large">
            <div class="hamburger-area">
                <button id="burger-menu" class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                </button>
            </div>
        </div>
        <div class="show-for-large">
            <a href="tel:{{ options.phone }}" class="header__phone">
                <span class="header__phone__value">{{ svg('phone-number') }}</span>
                <div class="header__phone__label">{{ options.phone_label }}</div>
            </a>
        </div>
    </div>
</header>
