<form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
    <div class="searchform">
        <input type="text" value="{{ function('get_search_query') }}" placeholder="{{ __('Rechercher') }}" name="s" id="s">
        <button type="submit" id="searchsubmit">{{ __('Rechercher') }}</button>
    </div>
</form>
